//-----------------------------
//Font Family
//-----------------------------
$primary-font-700: "Poppins 700";
$primary-font-600: "Poppins 600";
$primary-font-500: "Poppins 500";
$primary-font-400: "Poppins 400";

//-----------------------------
//Font Size
//-----------------------------
$size-xxl: 5.6rem;
$size-xl: 4rem;
$size-lg: 3.6rem;
$size-md: 2rem;
$size-sm: 1.8rem;
$size-xsm: 1.6rem;

//-----------------------------
//Text Color
//-----------------------------
$primary-color: #2f2f2f;
$secondary-color: #1e1e1e;
$third-color: #ffffff;
$four-color: #1f1f1f33;

//-----------------------------
//BG Color
//-----------------------------
$primary-bg: #ffffff;
$btn-bg: linear-gradient(180deg, #49bac4 0%, #4a6ab7 0.01%, #4983c4 100%);
