@import "../base/variables";

/* 
====================================================
Start Campaigns Section
====================================================
*/
.campaigns-wrapper {
    max-width: 1114px;
    .campaigns-text {
        .campaigns-title {
            .campaigns-title-img {
                vertical-align: top;
            }
        }
    }
    @media (max-width: 1799px) {
        .campaigns-img {
            .campaigns-main-img {
                max-width: 890px;
            }
        }
    }
    @media (max-width: 1599px) {
        .campaigns-img {
            .campaigns-main-img {
                max-width: 790px;
            }
        }
    }
    @media (max-width: 1399px) {
        .campaigns-img {
            .campaigns-main-img {
                max-width: 690px;
            }
        }
    }
    @media (max-width: 1199px) {
        .campaigns-img {
            .campaigns-main-img {
                max-width: 590px;
            }
        }
    }
    @media (max-width: 991px) {
        .campaigns-img {
            margin-top: 40px;
            .campaigns-main-img {
                width: 100%;
            }
        }
    }
} 
/* 
====================================================
End Campaigns Section
====================================================
*/