@import "../base/variables";

/* 
====================================================
Start Contact Section
====================================================
*/
.contact-section {
  background: no-repeat top / cover;
  .contact-wrapper {
    max-width: 920px;
    .contact-sec-title {
      position: relative;
      z-index: 11;
      .contact-shape {
        position: absolute;
        top: -83px;
        left: -98px;
        z-index: 1;
        @media (max-width: 1199px) {
          top: -50px;
          left: -30px;
        }
        @media (max-width: 991px) {
          max-width: 169px;
          top: -10px;
          left: -10px;
        }
      }
    }
    .contact-form-wrapper {
      max-width: 730px;
      padding: 27px 25px 50px;
      .contact-form-area {
        max-width: 540px;
        .company-form-box {
          .product-eed-link {
            color: #4a6ab7;
          }
        }
        .company-user-field {
          padding: 10px;
          border: 1px solid $primary-color;
          border-radius: 8px;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          -ms-border-radius: 8px;
          -o-border-radius: 8px;
        }
      }
      .user-form-area {
        .user-check-box {
          margin-left: 13px;
          .user-check-box-input {
            cursor: pointer;
          }
          a {
            color: $primary-color;
            text-decoration: underline;
          }
        }
        .form-submit {
          text-align: center;
          .form-submit-btn {
            box-shadow: none;
            @media (max-width: 575px) {
              padding-right: 60px;
              padding-left: 60px;
            }
            @media (max-width: 450px) {
              width: 100%;
              padding-right: 30px;
              padding-left: 30px;
            }
          }
        }
      }
    }
  }
}
/* 
====================================================
End Contact Section
====================================================
*/
