@import "../base/variables";

/* 
====================================================
Start Feed SEction
====================================================
*/
.feed-wrapper {
    max-width: 1110px;
    .feed-text {
        max-width: 435px;
    }
    @media (max-width: 767px) {
        .feed-text {
            max-width: 100%;
        }
    }
}
/* 
====================================================
End Feed SEction
====================================================
*/