@import "../base/variables";

/* 
====================================================
Start Header SEction
====================================================
*/
.header {
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
  z-index: 9999;
  @media (max-width: 991px) {
    top: 25px;
  }
  .menu-wrapper {
    @media (max-width: 1199px) {
      .logo {
        max-width: 170px;
      }
    }
    @media (max-width: 991px) {
      .logo {
        max-width: 100%;
      }
    }
    .menu-show-btn {
      width: 35px;
      position: relative;
      cursor: pointer;
      z-index: 999;
      .bar {
        width: 35px;
        height: 4px;
        background: #1b2749;
        margin: 6px 0;
      }
    }
    .menu-hide-btn {
      position: absolute;
      top: 20px;
      right: 20px;
    }
    .main-menu {
      .menu-item {
        position: relative;
        &:not(:last-child) {
          margin-right: 35px;
        }
        .menu-link {
          position: relative;
          &:hover {
            color: $primary-color;
          }
          @media (max-width: 991px) {
            color: $third-color;
            padding: 0;
            &:focus {
              color: $third-color;
            }
          }
        }
        .menu-arrow-icon::after {
          content: "";
          background: url("../images/arrow-down-black.svg") no-repeat center;
          position: absolute;
          top: 50%;
          right: -20px;
          transform: translateY(-50%);
          width: 15px;
          height: 15px;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          @media (max-width: 991px) {
            background: url("../images/arrow-down-white.svg") no-repeat center;
            top: 40%;
          }
        }
        @media (max-width: 991px) {
          margin: 0 0 20px;
        }
      }
    }
    .nav-btn {
      .nav-btn-1 {
        border: 1px solid #9a9a9a;
        padding: 8.5px 23.5px;
        &:hover {
          color: $third-color;
          background: $btn-bg;
          border-color: transparent;
          @media (max-width: 991px) {
            background: $secondary-color;
          }
        }
        @media (max-width: 1199px) {
          padding-left: 15px;
          padding-right: 15px;
        }
        @media (max-width: 991px) {
          color: $third-color;
          border-color: $third-color;
          margin-bottom: 20px;
          padding-left: 23.5px;
          padding-right: 23.5px;
        }
      }
      .nav-btn-2 {
        box-shadow: none;
        padding: 9px 23.5px;
        @media (max-width: 1199px) {
          padding-left: 15px;
          padding-right: 15px;
        }
        @media (max-width: 991px) {
          padding: 15px 23.5px;
          background: $secondary-color;
        }
      }
    }
    @media (max-width: 991px) {
      .menu-area {
        position: relative;
        position: fixed;
        top: 0;
        left: -130%;
        padding: 70px 30px 30px;
        background: $btn-bg;
        width: 360px;
        z-index: 9999;
        height: 100vh;
        -webkit-transition: all 0.6s ease-in;
        -o-transition: all 0.6s ease-in;
        transition: all 0.6s ease-in;
        overflow-y: scroll;
        overflow-x: hidden;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        &.show-menu {
          left: 0%;
          -webkit-transition: all 0.6s ease-in;
          -o-transition: all 0.6s ease-in;
          transition: all 0.6s ease-in;
        }
        &::-webkit-scrollbar {
          display: none;
        }
        @media (max-width: 365px) {
          width: 100%;
        }
      }
    }
    @media (max-width: 1199px) {
      padding-right: 35px;
      padding-left: 35px;
    }
    @media (max-width: 991px) {
      padding: 12px 20px;
    }
  }
  &.stick {
    position: fixed;
    top: 15px;
    left: 0;
    -webkit-animation: 600ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 600ms ease-in-out 0s normal none 1 running fadeInDown;
    .menu-wrapper {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
  }

  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      transform: translateY(-30px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  }
}

/* 
====================================================
End Header SEction
====================================================
*/
