@import "../base/variables";

/* 
=============================================================================
Start Hero SEction
=============================================================================
*/
/*==== Dark Banner & Light Banner Common Style ====*/
.hero-section {
  min-height: 100vh;
  padding: 280px 0 51px;
  @media (max-width: 991px) {
    padding-top: 180px;
  }
  @media (max-width: 575px) {
    padding-top: 117px;
  }
  .hero-wrapper {
    max-width: 1114px;
    .hero-text {
      .hero-title {
        font-size: 4.8rem;
        line-height: 6rem;
        span {
          text-decoration: underline;
        }
      }
      @media (max-width: 575px) {
        .hero-desc {
          margin: 22px 0 19px;
        }
      }
      .hero-btn {
        max-width: 253px;
        padding-left: 38px;
        padding-right: 38px;
        @media (max-width: 991px) {
          max-width: 200px;
          padding-left: 30px;
          padding-right: 30px;
        }
      }
      @media (max-width: 991px) {
        max-width: 550px;
        margin: auto;
      }
    }
    @media (max-width: 1799px) {
      .hero-img {
        .hero-main-img {
          max-width: 890px;
        }
      }
    }
    @media (max-width: 1599px) {
      .hero-img {
        .hero-main-img {
          max-width: 790px;
        }
      }
    }
    @media (max-width: 1399px) {
      .hero-img {
        .hero-main-img {
          max-width: 690px;
        }
      }
    }
    @media (max-width: 1199px) {
      .hero-img {
        .hero-main-img {
          max-width: 590px;
        }
      }
    }
    @media (max-width: 991px) {
      .hero-img {
        margin-top: 10px;
        .hero-main-img {
          max-width: 100%;
          height: auto;
        }
      }
    }
    .hero-company-logo {
      padding: 24px;
      box-shadow: 0px 4px 194px rgba(74, 106, 183, 0.13);
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      @media (max-width: 991px) {
        margin-top: 30px;
      }
    }
  }
}

/*===== Hero Dark Banner Style ======*/
.hero-dark-bg {
  position: relative;
  z-index: 1;
  background: linear-gradient(
    180deg,
    #4a9ac4 8.72%,
    rgba(255, 255, 255, 0.42) 100%
  ) !important;
  padding-bottom: 0px;
  .shape {
    position: absolute;
    width: 869.98px;
    height: 359.68px;
    top: 100px;
    right: -394.32px;
    z-index: -1;
    background: linear-gradient(#78b4d3b2, #ffffff78);
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    @media (max-width: 1399px) {
      top: 40px;
      right: -518.32px;
    }
    @media (max-width: 1199px) {
      top: -20px;
      right: -538.32px;
    }
    @media (max-width: 1199px) {
      display: none;
    }
  }
  .hero-dark-banner-text {
    .hero-dark-banner-desc {
      color: #464646;
    }
  }
  @media (max-width: 991px) {
    .hero-dark-banner-img {
      .hero-dark-banner-main-img {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -38px;
        margin-bottom: 5px;
      }
    }
  }
}

/*===== Hero Light Banner Style ======*/
.hero-light-bg {
  background: no-repeat top / cover;
  .hero-light-banner-text {
    .hero-light-banner-btn:hover {
      color: $secondary-color;
    }
  }
  .hero-light-banner-img {
    max-width: 335px;
    margin: 40px auto 36px !important;
    position: relative;
    z-index: 1;
    .hero-light-banner-top-shape {
      position: absolute;
      top: -20px;
      right: -20px;
      z-index: -1;
      @media (max-width: 370px) {
        height: 100px;
      }
    }
    .hero-light-banner-bottom-shape {
      position: absolute;
      bottom: -20px;
      left: -20px;
      z-index: -1;
      @media (max-width: 370px) {
        height: 100px;
      }
    }
  }
}
/* 
=============================================================================
End Hero SEction
=============================================================================
*/
